/tmp
/keys
/cluster
/secrets
/kops-creds
/kops/creds
/prod.yml
/cd/docker-build/.vagrant
/cd/docker-build/*.log
/helm/jenkins/*.lock
# terraform
terraform/terraform.tf*
terraform/*.pem
terraform/plan
terraform/.terraform
terraform/k8s-key*
